@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header{
  background-color: yellow;
  margin: 0;
  padding: 0;
}
.top-heading{
  background-color: #222222;
  width: 100%;
  height:40px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}
.navigation{
  background-color: #ffffff;
  width: 100%;
}
.nav-item a{
  margin:0 10px;
  color: #000000!important;
  text-decoration: none;
  font-weight: bold;
}
.nav-item .active{
  border-bottom: 4px solid #FFB300!important;
}
.nav-item a:hover{
  border-bottom: 4px solid #FFB300;
  border-bottom-width: 80%;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
}
.main input{
  margin-left: 10px;
  border-bottom: 2px solid lightgrey;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.main h2{
  font-family: Playfair Display;
}
h2 .goldmine{
  font-weight: bold;
  color: #FFB300;
}
.icon{
  margin: 7px;
  font-size: 25px;
}
.count{
  margin: 7px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: #FFB300;
  cursor: default;
}
#home{
  max-height: 90vh;
  position: relative;
}
.banner{
  height: 90vh;
}
.slider-data{
  text-align: center;
  top: 30%;
  left:7%;
  position:absolute;
  z-index: 2;
}
.slider-data h1{
  font-size: 4rem;
  color: #ffffff;
  font-family: Playfair Display;
}
.slider-data p{
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 40px;
}
.data-link{
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  color: black;
  padding: 10px 20px;
  border :2px solid white;
  background-color: white;
  border-radius: 30px;
  transition: 1s;
}
.slider-data .data-link i{
  margin-left: 6px;
}
.data-link:hover{
  background-color: transparent;
  border:2px solid white;
  color: white;
  text-decoration: none;
}

.carousel-indicators li {
  background-color: #FFB300;
  padding: 3px 20px;
}

#newCollection{
  padding: 60px 40px;
  width:100%;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
}
.new-data{
  position: absolute;
  width:100%;
  text-align: center;
  bottom: 10%;
}
.new-data h2{
  font-family: Playfair Display;
  margin-bottom: 25px;
}
.box1 img ,.box2 img{
   padding: 0px 20px;
  box-sizing: border-box;
  height: 100%;width: 100%;
}
#collection{
  text-align: center;
  font-weight: bold;
}
.col-img{
  width:100%;
  height:65%;
}
.sale{
  margin-top: 2%;
  margin-left:10.5%;
  padding:1px 10px;
  border-radius: 30px;
  position: absolute;
  background-color: red;
  color: white;
  font-size: 12px;
}

#collection h1{
  font-family: Playfair Display;
}
.show{
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
  margin: 10px auto 40px;
}
.collection-para{
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  color: grey;
  font-size: 14px;
}
.collection-para .price{
  margin-top: 15px;
}
.in{
  /*border:1px solid yellow;*/
}
.row2{
  margin-top: 50px;
}
.yellow{
  color: #FFB300;
}
.cut{
  text-decoration: line-through;
}
.red{
  color: red;
}

#latestCollection{
  margin: 20px 0;
  padding: 0px 40px;
  width:100%;
  height:90vh;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
}
.latest-data{
  width:35%;
  text-align: center;
  top: 30%;
  right:5%;
  position:absolute;
  z-index: 2;
  color: #ffffff;
}
.latest-data h1{
  font-size: 3.6rem;
  font-family: Playfair Display;
}
.latest-data p{
  padding:0 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.87rem;
  margin-bottom: 40px;
}
.cont{
  position:relative;
  width:100%;
  height:90vh;
}
.box img{
  height: 90vh;
  width: 100%;
}
.trans{
  padding: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top:0%;
  right:0%;
  width:100%;
  height:100%;
}

#bestSeller{
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}
.carousel-control-prev-icon {
  background-image: url("left.png");
  margin-left: -170px;
}

.carousel-control-next-icon {
  background-image: url("right.png");
  margin-right: -170px;
}

#about{
  margin-top:50px;
}
.box3 img{
  padding-left: 20px;
  box-sizing: border-box;
  height: 90%;width: 100%;
}
.box4 .aboutus-data{
  padding: 140px 80px 20px;
  box-sizing: border-box;
  width:90%;
  font-weight: bolder;
}
.aboutus-data h2{
  font-family: Playfair Display;
  margin-bottom: 25px;
  text-align: left;
  font-size: 34px;
}
.aboutus-data p{
  line-height: 1.7;
  font-size: 14px;
  color: grey;
  text-align: justify;
  margin-bottom: 35px;
}
.data-link2{
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  border :2px solid #FFB300;
  background-color: #FFB300;
  border-radius: 30px;
  transition: 1s;
}
.data-link2 i{
  margin-left: 6px;
}
.data-link2:hover{
  background-color: transparent;
  border:2px solid #FFB300;
  color: #FFB300;
  text-decoration: none;
}

#footer{
  background-color: #F3F3F3;
  padding: 50px 50px;
}
.footer-para{
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.goldmine-para{
  font-size: 14px;
  text-align: justify;
}

.footer-list{
  list-style: none;
  display: block;
  font-size: 14px;
  margin: 5px auto;
}
.subscribe{
  width:100%;
  padding: 7px 20px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  border-radius: 30px;
  margin:10px 0px 0px -10px;
}
.subscribe input{
  margin-left: -5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width:60%;
  border-bottom: none;

}
.data-link3{
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  color: white;
  padding: 8px 20px;
  position: absolute;
  top: 0%;
  right: 0%;
  border :2px solid #FFB300;
  background-color: #FFB300;
  border-radius: 30px;
  transition: 1s;
}
.data-link3:hover{
  background-color: transparent;
  border:2px solid #FFB300;
  color: #FFB300;
  text-decoration: none;
}
.icon-social{
  font-size: 22px;
  margin: 30px 15px;
}
#copyright{
  background-color: #F3F3F3;
  padding: 20px 50px 10px;
  border-top: 2px solid lightgrey;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/* media query*/

@media screen and (max-width: 1200px){
  .latest-data{
    width:47%;
  }
  .latest-data h1{
    font-size: 3.6rem;
  }
  .latest-data p{
    font-size: 0.84rem;
  }
  .box4 .aboutus-data{
    padding: 100px 60px;
  }
  .subscribe{
    padding: 5px 15px;
  }
  .data-link3{
    font-size: 12px;
    padding: 6px 15px;
  }
  .carousel-control-prev-icon {
    margin-left: -130px;
  }
  .carousel-control-next-icon {
    margin-right: -130px;
  }

}

@media screen and (max-width: 1000px){
  .main:nth-child(1) input{
    width:80%;
  }
  .main:nth-child(1) i{
    margin-left: 20px;
  }
  .main:nth-child(2){
    text-align: center;
  }
  .box1,.box2{
    margin-top: 20px;
  }
  #newCollection{
    padding: 40px 20px;
  }
  .col-img{
    width:100%;
    height:50%;
  }
  .collection-para{
    font-size: 11px;
  }
  .row2{
    margin-top: 30px;
  }
  .latest-data{
    width:60%;
  }
  .latest-data h1{
    font-size: 3.2rem;
  }
  .latest-data p{
    font-size: 0.77rem;
  }
  .box4 .aboutus-data{
    padding: 70px 40px;
  }
  .box3{
    height:72vh;
  }
  .subscribe{
    padding: 7px 20px;
  }
  .data-link3{
    font-size: 14px;
    padding: 8px 20px;
  }
  .left,.right{
    text-align: center;
  }
  .carousel-control-prev-icon {
    margin-left: -100px;
    margin-top: -100px;
  }
  .carousel-control-next-icon {
    margin-right: -100px;
    margin-top: -100px;
  }
  .new-data h2{
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (max-width: 575px){
  .main:nth-child(1){
    width:50%;
  }
  .main:nth-child(3){
    position: absolute;
    right:10px;
    top:30px;
    width:50%;
  }
  .main:nth-child(1) input{
    width:60%;
  }
  .main:nth-child(1) i{
    margin-left: 4px;
  }
  .main:nth-child(2){
    text-align: center;
  }
  .sale{
    margin-left: 8%;
    padding:1px 6px;
    border-radius: 30px;
    position: absolute;
    background-color: red;
    color: white;
    font-size: 10px;
  }
  .col-img{
    width:100%;
    height:40%;
  }
  .collection-para{
    font-size: 8px;
  }
  .row2{
    margin-top: 10px;
  }
  .latest-data{
    width:80%;
  }
  .latest-data h1{
    font-size: 2.9rem;
  }
  .latest-data p{
    font-size: 0.70rem;
  }
  #footer{
    margin-top: 30px;
  }
  .subscribe{
    padding: 7px 20px;
  }
  .data-link3{
    font-size: 14px;
    padding: 8px 20px;
  }
  .left,.right{
    text-align: center;
  }
  .carousel-control-prev-icon {
    margin-left: -40px;
    margin-top: -100px;
  }
  .carousel-control-next-icon {
    margin-right: -70px;
    margin-top: -100px;
  }
  .nav-item a{
    margin:0 5px;
    font-size: 13px;
    color: #000000!important;
    text-decoration: none;
    font-weight: bold;
  }
  .new-data h2{
    font-size: 30px;
  }
}
@media screen and (max-width: 476px){
  .nav-item a{
    margin:0 1px;
    font-size: 10px;
    color: #000000!important;
    text-decoration: none;
    font-weight: bold;
  }
  .new-data h2{
    font-size: 20px;
  }
  .banner{
    height:65vh;
  }
  .slider-data h1{
    font-size: 40px;
  }
  .slider-data p{
    font-size: 15px;
  }
  #latestCollection{
    height:65vh;
  }
  .latest-data{
    width:85%;
    text-align: center;
    top: 20%;
    right:8%;
  }
  .latest-data h1{
    font-size: 40px;
  }
  .latest-data p{
    padding: 0 5px;
    font-size: 15px;
  }
  .box img{
    height: 65vh;
    width: 100%;
  }
  .trans{
    height:65vh;
  }
  .box4 .aboutus-data{
    padding: 0px 25px;
  }
}